name: Create Release

# Create XCFramework when a version is tagged
on: push

env:
  XCODE_VER: 12.4

jobs:
  test:
    strategy:
      matrix:
        xcode_version: ['12.4']
    runs-on: macos-latest
    env:
      DEVELOPER_DIR: /Applications/Xcode_${{ matrix.xcode_version }}.app
    steps:
      - name: Check out MyLibraryActionTest
        uses: actions/checkout@v2
      - name: Build MyLibraryActionTest
        run: |
          set -euo pipefail
          swift package clean
          swift build --sanitize="address"
      - name: Run Tests
        run: |
          set -euo pipefail
          swift test --sanitize="address"

  # Upload release assets for tags
  release:
    needs: test
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: macos-latest
    steps:
      - name: Check out MyLibraryActionTest
        uses: actions/checkout@v2
      - name: Build XCFrameworks
        run: |
          set -euo pipefail
          sudo xcode-select -s /Applications/Xcode_${XCODE_VER}.app
          cd .github/workflows
          ls
          ./build_xcframework.sh
          cp ../../LICENSE .
          zip -9r MyLibraryActionTest.xcframeworks.zip *.xcframework LICENSE
      - name: Upload files to release draft
        uses: marvinpinto/action-automatic-releases@latest
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          prerelease: false
          draft: true
          files: Frameworks/MyLibraryActionTest.xcframeworks.zip
